body{
    box-sizing: border-box;
}

.circle{
    content: "";
    width: 375px;
    height: 375px;
    border-radius: 500px;
    background: linear-gradient(45deg, #2937f0, #9f1ae2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.img-phone-1{
max-width: 46%;
}

.circle::before{
content: "x";
position: absolute;
font-weight: bolder;
transform: rotate(-45deg);
color: #2937f0;
fill: #2937f0;
bottom: 0%;
left: 0%;
}

.circle::after{
    content: "*";
    position: absolute;
    font-weight: bolder;
    font-size: 15px;
    transform: rotate(90deg);
    color: #2937f0;
    fill: #2937f0;
    right: 0%;
    top: 0%;
    }

.panel{
    background: linear-gradient(45deg, #2937f0, #9f1ae2);
}
.circle-b{
    content: "";
    width: 250px;
    height: 250px;
    border-radius: 500px;
    background: linear-gradient(45deg, #2937f0, #9f1ae2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img-phone-2{
    max-width: 100%;
    margin-left: 55px;
    }

    .circle-b::before{
        content: "*";
        position: absolute;
        font-weight: bolder;
        transform: rotate(-45deg);
        color: #2937f0;
        fill: #2937f0;
        bottom: 0%;
        left: 0%;
        }
        
        .circle-b::after{
            content: "x";
            position: absolute;
            font-weight: bolder;
            font-size: 15px;
            transform: rotate(45deg);
            color: #2937f0;
            fill: #2937f0;
            right: 0%;
            top: 0%;
            margin-right: -50px;
            }
.saga{
 color: #9f1ae2;
 font-size: 4rem;
}
.circle-3{
    content:"";
    width: 516px;
    height: 516px;
    border-radius: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}

#video{
    position: relative;
}
.video-1{
    position: relative;
    width: 100%;
    height: auto;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
.text-muted{
    font-size: 1.25rem;
}

.
.display-1{
text-align: center;
}

.content{
    position: absolute;
    text-align: center;
    color: purple;
}
.lol{
    background-color: pink;
}
.special-button{
    border: none;
    background-color: rgb(193, 65, 19);
    padding: 30px 60px;
    text-align: center;
    font-size: 18px;
    margin: 4px 2px;
  }
